.btn, .btn-outline {
  background-color: #000;
  border: none;
  padding: 16px 35px;
  color: #fff;
  border-radius: 500px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid #fff;
}