.header {
    height: 4rem;
    background-color: #333333;
    /* color: brown; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--app-general-padding);
}


.menu ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px;
}

.menu ul li .active a {
    color: #D9DADC;
}

